<!DOCTYPE html>
<html layout:decorate="~{layouts/layout}">
    <head> 
    <meta charset="UTF-8" />
    <title>Editar Cadastro</title>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
	<link type="text/css" rel="stylesheet" href="materialize-v0.100.2/materialize/css/materialize.min.css"  media="screen,projection"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>	
	</head>
    <body>
    	<section class="Layout-content" layout:fragment="corpo" >
    		<div class="container panel panel-default">
		<div class="panel-header" align="center">
			<h2>Cadastro SGBD</h2>
			<hr/>
		</div>
		<div class="panel-body">
			<form class="form-horizontal" th:object="${sgbd}" th:action="@{/sgbds/salvarSgbd}" method="POST" style="margin: 10px">
				<div class="form-group">
 					<fieldset>
						<div class="form-group row">
							<div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
								<div th:each="detailedError : ${#fields.detailedErrors()}">
									<span th:text="${detailedError.message}"></span>
								</div>
							</div>										
						</div>
						<div class="form-group row">
						    <div class="col-md-4">
						    	<label>ID</label>
						        <input type="text" class="form-control input-sm" id="idSgbd" th:field="*{idSgbd}" readOnly="readonly"/>
						    </div>						
				                                                    
							<div class="col-md-4" th:classappend="${#fields.hasErrors('*{nomeSgbd}')}? 'has-error'">
							    <label>Nome do SGBD</label>
							    <input type="text" class="form-control input-sm" th:field="*{nomeSgbd}" autofocus="autofocus" placeholder="Informe o nome do SGBD. Ex.:Produção " maxlength="50"/>
							</div>
						</div>
						
					</fieldset>
				</div>
				<div class="row">
					<button class="btn btn-sm btn-primary" type="submit">Salvar</button>
					<a th:href="@{/sgbds}" class="btn btn-sm btn-default">Cancelar</a>
				</div>
			</form>	
		</div>
	</div>

         </section>
    </body>    
	    <script type="text/javascript" src="/moment-with-locales/js/moment.js"></script>
		<script type="text/javascript" src="materialize-v0.100.2/materialize/js/materialize.min.js"></script>
</html>

	



