<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width" />
	<title>Cadastro de Servidores</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"></link>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="panel panel-default">
		<div class="panel-heading">
			<strong>Cadastro de Servidor</strong>
		</div>
		<div class="panel-body">
			<form class="form-horizontal" th:object="${servidor}" th:action="@{/servidores/salvarServidor}" method="POST" style="margin: 10px">
				<div class="form-group">
 					<fieldset>
						<div class="form-group row">
							<div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
								<div th:each="detailedError : ${#fields.detailedErrors()}">
									<span th:text="${detailedError.message}"></span>
								</div>
							</div>
						</div> 					
						<div class="form-group row">
						    <div class="col-md-1">
						        <input type="text" class="form-control input-sm" id="idServidor" th:field="*{idServidor}" readOnly="readonly"/>
						    </div>
						 </div>
						<div class="form-group row">                                                          
							<div class="col-md-4" th:classappend="${#fields.hasErrors('*{nomeServidor}')}? 'has-error'">
							    <label>nomeServidor</label>
							    <input type="text" class="form-control input-sm" th:field="*{nomeServidor}" autofocus="autofocus" placeholder="Informe o nome do SO" maxlength="50"/>
							</div>
						</div>		
						<div class="form-group row">                                                          
							<div class="col-md-4" th:classappend="${#fields.hasErrors('*{dataCriacao}')}? 'has-error'">
							    <label>dataCriacao</label>
							    <input type="text" class="form-control input-sm" th:field="*{dataCriacao}" autofocus="autofocus" placeholder="Informe o nome do SO" maxlength="50"/>
							</div>
						</div>		
						<div class="form-group row">                                                          
							<div class="col-md-4" th:classappend="${#fields.hasErrors('*{dataInativacao}')}? 'has-error'">
							    <label>dataInativacao</label>
							    <input type="text" class="form-control input-sm" th:field="*{dataInativacao}" autofocus="autofocus" placeholder="Informe o nome do SO" maxlength="50"/>
							</div>
						</div>
						<div class="form-group row">                                                          
							<div class="col-md-4" th:classappend="${#fields.hasErrors('*{ativo}')}? 'has-error'">
							    <label>ativo</label>
							    <input type="text" class="form-control input-sm" th:field="*{ativo}" autofocus="autofocus" placeholder="Informe o nome do SO" maxlength="50"/>
							</div>
						</div>		
						<div class="form-group row">                                                          
							<div class="col-md-4" th:classappend="${#fields.hasErrors('*{ipHost}')}? 'has-error'">
							    <label>ipHost</label>
							    <input type="text" class="form-control input-sm" th:field="*{ipHost}" autofocus="autofocus" placeholder="Informe o nome do SO" maxlength="50"/>
							</div>
						</div>		
						<div class="form-group row">                                                          
							<div class="col-md-4" th:classappend="${#fields.hasErrors('*{versaoSo}')}? 'has-error'">
							    <label>versaoSo</label>
							    <input type="text" class="form-control input-sm" th:field="*{versaoSo}" autofocus="autofocus" placeholder="Informe o nome do SO" maxlength="50"/>
							</div>
						</div>		
						<div class="form-group row">                                                          
							<div class="col-md-4" th:classappend="${#fields.hasErrors('*{versaoKernel}')}? 'has-error'">
							    <label>versaoKernel</label>
							    <input type="text" class="form-control input-sm" th:field="*{versaoKernel}" autofocus="autofocus" placeholder="Informe o nome do SO" maxlength="50"/>
							</div>
						</div>
						<div class="form-group row">                                                          
							<div class="col-md-4" th:classappend="${#fields.hasErrors('*{cpus}')}? 'has-error'">
							    <label>cpus</label>
							    <input type="text" class="form-control input-sm" th:field="*{cpus}" autofocus="autofocus" placeholder="Informe o nome do SO" maxlength="50"/>
							</div>
						</div>	
						<div class="form-group row">                                                          
							<div class="col-md-4" th:classappend="${#fields.hasErrors('*{nucleos}')}? 'has-error'">
							    <label>nucleos</label>
							    <input type="text" class="form-control input-sm" th:field="*{nucleos}" autofocus="autofocus" placeholder="Informe o nome do SO" maxlength="50"/>
							</div>
						</div>	
						<div class="form-group row">                                                          
							<div class="col-md-4" th:classappend="${#fields.hasErrors('*{cores}')}? 'has-error'">
							    <label>cores</label>
							    <input type="text" class="form-control input-sm" th:field="*{cores}" autofocus="autofocus" placeholder="Informe o nome do SO" maxlength="50"/>
							</div>
						</div>		
						<div class="form-group row">                                                          
							<div class="col-md-4" th:classappend="${#fields.hasErrors('*{memoriaMb}')}? 'has-error'">
							    <label>memoriaMb</label>
							    <input type="text" class="form-control input-sm" th:field="*{memoriaMb}" autofocus="autofocus" placeholder="Informe o nome do SO" maxlength="50"/>
							</div>
						</div>	
						<div class="form-group row">                                                          
        <select name="selectList" class="form-control" placeholder=".input-medium" height>
            <c:forEach items="${ambientes}" var="item" varStatus="ambiente"> 
                <option value="${ambiente.idAmbiente}">"${ambiente.nomeAmbiente}"</option>
            </c:forEach>
        </select>  
						</div>	
					</fieldset>
				</div>
				<div class="form-group row">
					<button type="submit" class="btn btn-sm btn-primary">Salvar</button>
					<a th:href="@{/sistemasOperacionais}" class="btn btn-sm btn-default">Cancelar</a>
				</div>
			</form>
		</div>
	</div>
</body>
</html>