<div th:switch="ambientes">
    <h2 th:case="null">No users yet!</h2>
        <div th:case="*">
            <h2>Users</h2>
            <table>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nome</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                <tr th:each="ambiente : ${ambientes}">
                    <td th:text="${ambiente.id_ambiente}"></td>
                    <td th:text="${ambiente.nome_ambiente}"></td>
                    <td><a th:href="editar">Edit</a></td>
                    <td><a th:href="apagar">Delete</a></td>
                </tr>
            </tbody>
        </table>
    </div>      
    <p><a href="/ambiente/addAmbiente">Cadastrar Ambiente</a></p>
</div>